<html>
    <link rel="stylesheet"  href="style.css">
    <body>
        <h1><%=title%></h1>
        <hr>
        <br>
        <button class="addNewMessageButton"><a href="/new">Add a new Message</a></button>
        

        <ul>
        <% for(let i=0; i<messages.length ; i++) {%>
            <li>
            <h3>"<%=messages[i].text%>"</h3>
            <h4>- By <%=messages[i].username%></h4>
            <span>Added on <%=messages[i].added%></span>
            </li>  
            <br>
            <button>Open</button>
            <hr>
            <%}%>
        </ul>
    </body>
</html>